<a href="https://colab.research.google.com/github/USIS019720/Programacion_III-Pyton/blob/Fundamentos-de-Pyton/Fundamentos_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo", "Bienvenidos a Progra III con Python", "Hola Chicos, que tal...")

Hola Mundo Bienvenidos a Progra III con Python Hola Chicos, que tal...

In [ ]:
saludo ="hola"
print(saludo + "Mundo")
print(saludo[1])

holaMundo
o

In [ ]:
nombre = input("Como te llamas: ")
print ("Hola"+nombre, "Tu letra inicial es:", nombre[0], "Tu nombre tiene: ", nombre.__len__(), " caracteres")

Como te llamas: David
HolaDavid Tu letra inicial es: D Tu nombre tiene:  5  caracteres

In [ ]:
num1 = 10
num2 = 2.2
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  12.2

In [ ]:
num1 = input("Num1: ")
num2 = input("Num2: ")
resp = float(num2) #"5.5"-> 5.5
print("La suma es: ", resp)

Num1: 10
Num2: 2.2
La suma es:  2.2

In [ ]:
print(nombre)

David

In [ ]:
gustapython = True
print("hola", nombre, "te gusta python", gustapython)

hola David te gusta python True

In [ ]:
def suma(num1, num2):
 resp = num1 + num2
 return resp
num1 = float(input("num1: "))
num2 = float(input("num2: "))
resp = suma(6,5)
print(resp)

num1: 6
num2: 5
11

In [ ]:
num1 = int(input("Num1: "))
num2 = int(input("Num2: "))
print("Los numeros", str(num1), ",", str(num2), "son iguales: ", str(num1==num2))

Num1: 4
Num2: 4
Los numeros 4 , 4 son iguales:  True

In [ ]:
def convertirFC(f):
   c = (f-32)*5/9
   return c 

f = int(input("F: "))
print("F: ", str(f), " a celsius: ", str( convertirFC(f) ))

F: 1
F:  1  a celsius:  59.4

In [ ]:
numHrs = int(input("Num. de Hrs trabajadas: "))
valorHr = float(input("Valor por hr: "))

sueldo = numHrs*valorHr*30
print("Sueldo: ", sueldo)

Num. de Hrs trabajadas: 10
Valor por hr: 4.5
Sueldo:  1350.0

In [ ]:
def calcularSueldo(numHrs, valorHr):
   hrsExtras = 0
   if( numHrs>8 ):
     hrsExtras = numHrs-8
   sueldo = (8*valorHr + hrsExtras*valorHr*2)*30
   return sueldo

numHrs = int(input("Num. hrs trabajadas: "))
valorHr = float(input("Valor x hr: "))
print("Sueldo: ", str(calcularSueldo(numHrs, valorHr)))

Num. hrs trabajadas: 10
Valor x hr: 4.5
Sueldo:  1620.0

In [ ]:
prioridad = 7 - 5*2 - 4/4*2 # 5*2= 10  4/4=1   1*2=2  7-10-2= -5
print(str(prioridad))

-5.0

In [ ]:
saludo = "hola"
print(saludo + " Mundo")
print( saludo[1] )

hola Mundo
o

In [2]:
suma = lambda num1,num2: num1+num2
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print("La suma es: ", suma(num1,num2))

Num1: 7
Num2: 5
La suma es:  12.0

In [3]:
conversion = lambda f:(f-32)*5/9
f = float(input("Fahrenheit: "))
print("Grados F: ", f, " a C: ", conversion(f))

Fahrenheit: 105.5
Grados F:  105.5  a C:  40.833333333333336

In [5]:
cuadrado = lambda n:n**2
n = int(input("N: "))
print("N: ", n, "al cuadrado es: ",cuadrado(n))

N: 3
N:  3 al cuadrado es:  9

In [6]:
cubo = lambda n:n**3
n = int(input("n: "))
print("N: ", n, " al cubo es: ", cubo(n))

n: 3
N:  3  al cubo es:  27

In [8]:
exp = lambda n,e:n**e
n = int(input("N: "))
e = int(input("Exponente: "))
print(n, " elevado al exp: ", e, "es", exp(n,e))

N: 3
Exponente: 4
3  elevado al exp:  4 es 81

In [12]:
lista =[1,2,3]
resp = list(map(lambda n:n*2, lista))
print(resp)

[2, 4, 6]

In [13]:
gf_dep = [85,58,105]
c_dep = list(map(conversion, gf_dep))
print("los grados F: ", gf_dep, " en celsius es: ", c_dep)

los grados F:  [85, 58, 105]  en celsius es:  [29.444444444444443, 14.444444444444445, 40.55555555555556]

In [15]:
resp = list(map(cuadrado, lista))

print("La lista ",lista, " al cuadrado es: ", resp)

La lista  [1, 2, 3]  al cuadrado es:  [1, 4, 9]

In [16]:
resp = list(map(cubo, lista))

print("La lista ",lista, " al cubo es: ", resp)

La lista  [1, 2, 3]  al cubo es:  [1, 8, 27]

In [18]:
resp = list(filter(lambda n:n>2, lista))
print("Los numeros > 2 de la lista ", lista, " son: ", resp)

Los numeros > 2 de la lista  [1, 2, 3]  son:  [3]

In [20]:
resp = list(filter(lambda n:n%2==0, lista))
print("Los numeros pares de la lista ", lista, " son: ", resp)

Los numeros pares de la lista  [1, 2, 3]  son:  [2]

In [21]:
resp = list(filter(lambda n:n%2!=0, lista))
print("Los numeros impares de la lista ", lista, " son: ", resp)

Los numeros impares de la lista  [1, 2, 3]  son:  [1, 3]

In [26]:
from functools import reduce
resp = reduce(lambda x,y:x+y, lista)
print("La suma de la lista ", lista, " es: ", resp, " la media es: ", resp/len(lista))

La suma de la lista  [1, 2, 3]  es:  6  la media es:  2.0